{% extends "base.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link href="/static/login.css" rel="stylesheet" media="screen">
{% endblock %}
{% block main_content %}
<div class="main-content">
  <div class="container small-container">

    {% block content %}
    <div id="content-container" class="p-none">
      <h4 class="center-align welcome-label">Reset your default password</h4>
      <form id="reset-password-form" method="post" action="{% url 'reset-password' %}">
        {% csrf_token %}
        <div class="card login-box">
          <table class="row table login-table">
              <tr>
                  <td><label class="card-label" for="id_new_password1">New Password</label></td>
                  <td><input id="id_new_password1" name="new_password1"
                             type="password" class="form-control" required></td>
              </tr>
              <tr>
                  <td><label class="card-label" for="id_new_password2">Retype New Password</label></td>
                  <td><input id="id_new_password2" name="new_password2"
                             type="password" class="form-control" required></td>
              </tr>
            {% if error %}
            <tr id="error-password-mismatch"><td>{{ error }}</td></tr>
            {% endif %}
          </table>
          <div class="row">
            <span class="col s4 right"></span>
            <button id="reset-password-btn" type="submit" class="btn btn-primary login-button col s4 right">Save changes</button>
          </div>
        </div>
      </form>
      <div>Note: You will have to login with new password after resetting it.</div>
    </div>
    {% endblock %}

  </div>
</div>
{% endblock %}
